header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 11px;
}

.nav {
  display: flex; 
  justify-content: end;
  width: 1000px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 34px;
  font-size: 16px;
  font-weight: 500;
}

.nav-list li a {
  text-decoration: none;
  color: #343434;
  font-weight: 500;
  position: relative;
}

.nav-list li a.active {
  color: #003366;
}

.nav-list li a.active::after {
  content: "";
  display: block;
  width: 79px;
  height: 1px;
  background-color: #003366;
  margin: 0 auto;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list li:nth-child(2) {
  position: relative;
  top: -1px;
}

.arrow-icon {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  vertical-align: middle;
}

.login-btn .btn {
  text-decoration: none;
  padding: 14px 30px;
  background-color: #003366;
  color: #fff;
  border-radius: 14px;
  font-size: 20px;
  line-height: 30px;
}
