.hero {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 50px;
}

.hero-text {
  background-color: #003366;
  color: white;
  border-radius: 20px;
  width: 900px;
  padding: 100px 80px;
}

.hero-text h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 16px;
}

.hero-text p {
  font-family: Roboto;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 50px;
}

.explore-btn {
  font-family: "Roboto", sans-serif;
  padding: 14px 20px;
  background-color: #fbfbfb;
  color: #003366;
  text-decoration: none;
  border-radius: 14px;
  font-size: 20px;
  line-height: 30px;
}

.hero-image img {
  border-radius: 10px;
  height: 519px;
}
